@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
body {
    font-family: 'Noto Serif JP', serif;
    font-weight: 400; /* Regular */
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

/* 部品
------------------------------------------ */
/* スムーススクロールの設定 */
html {
	scroll-behavior: smooth;
}

/* コンテナ */
.container {
    width: 91.7949vw;
    margin: 0 auto;
}

/* 購入する */
.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F4FF;
    padding-top: 1.25rem;
    padding-bottom: 2.125rem;
}

@media (min-width: 768px) {
    .cta {
        flex-direction: row;
        justify-content: space-between;
        padding: 2.375rem 3.2vw;
        max-width: 62.5rem;
        margin: auto;
    }

    .cta__actions {
        display: flex;
        align-items: center;
        gap: 2.1333vw;
    }
}

.cta__title {
    text-align: center;
}

@media (min-width: 768px) {
        .cta__title {
            text-align: left;
        }
}

.cta__product {
    font-size: 1.125rem;
    font-weight: 600;
    padding-bottom: 0.3125rem;
    letter-spacing: 0.125rem;
}

@media (min-width: 768px) {
    .cta__product {
        font-size: 1.5rem;
        padding-bottom: 8px;
    }
}

.cta__btn--shop {
    margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
    .cta__btn--shop {
        margin-bottom: 0;
    }
}

.cta__price {
    font-size: 0.875rem;
    padding-bottom: 1.25rem;
    letter-spacing: 0.0938rem;
}

@media (min-width: 768px) {
    .cta__price {
        padding-bottom: 0;
        font-size: 1rem;
    }
}

/* ボタン */
.cta__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18.75rem;
    height: 3.625rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 1.875rem;
    background-color: #46C4DB;
    color: #fff;
    transition: all .3s;
}

.cta__btn:hover {
    opacity: .6;
}

@media (min-width: 768px) {
    .cta__btn {
        max-width: 18.75rem;
        max-height: 3.625rem;
        width: 28vw;
        height: 5.6vw;
        font-size: 1.125rem;
    }
}

.cta__btn--purchase {
    background-color: #5DD5AB;
}

/* ヘッダー
------------------------------------------ */
.header {
    position: absolute;
    top: 0.5rem;
    width: 8.9375rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

@media (min-width: 768px) {
    .header {
        width: 10.375rem;
        top: 1.375rem;
    }
}

/* ヒーロー
------------------------------------------ */
.hero__wrap {
	position: relative;
    margin-bottom: 9.8125rem;
}

@media (min-width: 768px) {
    .hero__wrap {
        margin-bottom: 3rem;
    }
}

.hero__wrap img {
    width: 100%;
    height: 28.125rem;
    object-fit: cover;
}

@media (min-width: 768px) {
    .hero__wrap img {
        height: 45rem;
    }
}

.hero__body {
    position: absolute;
    left: 5.8974vw;
    top: 26.0625rem;
}

@media (min-width: 768px) {
    .hero__body {
        left: 14.8667vw;
        top: 49.9%;
        transform: translateY(-50%);
    }
}

.hero__title {
    font-family: 'Marcellus', serif;
    font-weight: 400;
    font-size: 2.5625rem;
    letter-spacing: .3em;
}

@media (min-width: 768px) {
    .hero__title {
    font-size: 3.125rem;
    line-height: 1.36;
    }
}

.hero__title-line {
    display: block;
}

.hero__text {
    font-size: 1.25rem;
    margin-top: 0.5rem;
    letter-spacing: 0.375rem;
}

@media (min-width: 768px) {
    .hero__text {
        font-size: 1.5625rem;
        margin-top: 0.4375rem;
        letter-spacing: 0.4688rem;
    }
}

/* カバー
------------------------------------------ */
.cover {
    margin-top: 3.125rem;
    position: relative;
}

.cover img {
    width: 100%;
    height: 42.5rem;
    object-fit: cover;
}


@media (min-width: 768px) {
    .cover img {
        height: 34.375rem;
    }
}

.cover__content {
    position: absolute;
    width: 91.7949vw;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

@media (min-width: 768px) {
    .cover__content {
        width: 29.1875rem;
        top: 50%;
        transform: translateY(-50%);
        margin-left: auto;
        right: 12.75rem;
    }
}

.cover__title {
    text-align: center;
}

@media (min-width: 768px) {
    .cover__title {
        text-align: left;
    }
}

.cover__main-title {
    display: block;
    font-size: 1.875rem;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}

@media (min-width: 768px) {
    .cover__main-title {
        font-size: 2.375rem;
        margin-top: 0.4375rem;
    }
}

.cover__sub-title {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0.875rem;
}

@media (min-width: 768px) {
    .cover__sub-title {
        font-size: 1.5rem;
        margin-bottom: 1.125rem;
    }
}

.cover__text {
    font-size: 0.875rem;
    line-height: 2.2857;
    text-shadow: 0 0.1875rem 0.375rem #00000029;
}

@media (min-width: 768px) {
    .cover__text {
        font-size: 0.875rem;
        width: 26.125rem;
    }
}

/* お客様の声
------------------------------------------ */
.voices__title {
    text-align: center;
    margin-top: 3.125rem;
    margin-bottom: 2.25rem;
}

@media (min-width: 768px) {
    .voices__title {
        margin-top: 5rem;
        margin-bottom: 2.5rem;
    }
}

.voices__main-title {
    display: block;
    font-size: 1.875rem;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    letter-spacing: 0.0875rem;
}

@media (min-width: 768px) {
    .voices__main-title {
        font-size: 2.8125rem;
    }
}

.voices__sub-title {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.1875rem;
    letter-spacing: 0.0625rem;
}

@media (min-width: 768px) {
    .voices__sub-title {
        font-size: 1.25rem;
        margin-top: 0.5rem;
    }
}

.voices__carousel {
    position: relative;
    width: 17.5rem;
    height: auto;
    margin: auto;
    text-align: center;
}

@media (min-width: 768px) {
    .voices__carousel {
        max-width: 72.25rem;
        width: 100%;
        height: 24.25rem;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}


@media (min-width: 768px) {
    .swiper {
        max-width: 61.25rem;
        width: 84.7751vw;
    }
}

.swiper-slide {
    width: 100%;
    height: 100%;
    padding: 1.8125rem 0.9375rem 1.4375rem;
    background-color: #DBF7F9;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .swiper-slide {
        max-width: 18.75rem;
    }
}

.voices__image {
    padding-left: 0.5625rem;
}

@media (min-width: 768px) {
    .voices__image {
        padding-left: 0;
        padding-top: 0.75rem;
    }
}

@media (max-width: 767px) {
    .voices__image--g {
        width: 80px;
        height: 80px;
        object-fit: cover;
        padding: 0;
    }
}

.voices__name {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
}

@media (min-width: 768px) {
    .voices__name {
        letter-spacing: 0.125rem;
        margin-bottom: 0.8125rem;
    }
}

.voices__text {
    text-align: left;
    font-size: 0.875rem;
    line-height: 2;
}

@media (min-width: 768px) {
    .voices__text {
        font-size: 1rem;
        line-height: 1.75;
        padding-right: 0.0625rem;
    }
}

.my-button-prev,
.my-button-next {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    font-size: 2rem;
}

@media (min-width: 768px) {
    .my-button-prev,
    .my-button-next {
        width: 3rem;
        height: 3rem;
    }

    .my-button-prev img,
    .my-button-next img {
        width: 100%;
        height: 100%;
    }
}

.my-button-prev {
    left: -2.4375rem;
}

@media (min-width: 768px) {
    .my-button-prev {
        left: 0.0625rem;
        top: 50%;
    }
}

.my-button-next {
    right: -2.4375rem;
}

@media (min-width: 768px) {
    .my-button-next {
        right: 0.0625rem;
        top: 50%;
    }
}

.swiper-pagination {
    position: absolute;
    margin-bottom: -2.375rem;
}

@media (min-width: 768px) {
    .swiper-pagination {
        margin-bottom: -2.8125rem;
    }
}

.swiper-pagination-bullet {
    width: 0.5625rem;
  }

/* よくあるご質問
------------------------------------------ */
.faq {
    background-image: linear-gradient(90deg, #F4FFE8 0%, #C6F0FE 100%);
    margin-top: 4.6875rem;
    margin-bottom: 3.125rem;
    padding-bottom: 0.8125rem;
}

@media (min-width: 768px) {
    .faq {
        margin-top: 7.0625rem;
        padding-bottom: 1.125rem;
    }
}

.faq__title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2.3125rem;
}

@media (min-width: 768px) {
    .faq__title {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

.faq__main-title {
    display: block;
    font-size: 2rem;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}

@media (min-width: 768px) {
    .faq__main-title {
        font-size: 2.8125rem;
    }
}

.faq__sub-title {
    display: block;
    font-size: 1.0625rem;
    font-weight: 600;
    margin-top: 0.125rem;
}

@media (min-width: 768px) {
    .faq__sub-title {
        font-size: 1.25rem;
        margin-top: 0.4375rem;
        letter-spacing: 0.0625rem;
    }
}

@media (min-width: 768px) {
    .faq__accordion.container {
        width: 40vw;
    }
}

.faq__item {
    background-color: #fff;
    margin-bottom: 1.1875rem;
}

@media (min-width: 768px) {
    .faq__item {
        margin-bottom: 1.25rem;
    }
}

.faq__question {
    display: flex;
    align-items: flex-start;
    padding: 1rem 1rem 1.125rem;
}

@media (min-width: 768px) {
    .faq__question {
        padding: 1.4375rem 1.5rem 1.5rem;
    }
}

.faq__question .bi {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    transition: transform 0.3s ease;
}

@media (min-width: 768px) {
    .faq__question .bi {
        margin-left: auto;
        margin-top: 0.3125rem;
    }
}

.faq__question .bi.rotate {
    transform: rotate(180deg);
}

.faq__answer {
    display: flex;
    padding: 0 1.0625rem 1.4375rem 1rem;
    display: none;
}

@media (min-width: 768px) {
    .faq__answer {
        padding: 0 1.5rem 1rem;
    }
}

.faq__answer-inner {
    display: flex;
    transform: translateY(-0.375rem);
}

.faq-q,
.faq-a {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    margin-right: 0.75rem;
    font-size: 1rem;
    margin-top: 0.25rem;
}

@media (min-width: 768px) {
    .faq-q,
    .faq-a {
        font-size: 1.125rem;
        margin-top: 0;
    }
}

.faq__question-text,
.faq__content {
    font-weight: 500; /* Medium */
    font-size: 0.9375rem;
    line-height: 1.8667;
}

@media (min-width: 768px) {
    .faq__question-text,
    .faq__content {
        padding-left: 0.3125rem;
    }
}

/* フッター
------------------------------------------ */
.footer {
    margin-top: 3.125rem;
    position: relative;
    background-color: #0071CE;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .footer {
        height: 6.5rem;
        padding: 0;
    }
}

.footer__to-top {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: -2.5rem;
    right: 1rem;
    background-color: #0071CE;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .footer__to-top {
        right: 9.375rem;
    }
}

.footer__to-top .bi {
    color: #fff;
    font-size: 1.75rem;
}

@media (min-width: 768px) {
    .footer__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1136px;
        width: 100%;
        height: 100%;
        margin: auto;
    }
}

.footer__logo {
    margin-bottom: 1.3125rem;
}

@media (min-width: 768px) {
    .footer__logo {
        margin-bottom: 0;
    }
}

.footer__logo-img {
    width: 10.375rem;
}

@media (min-width: 768px) {
    .footer__logo-img {
        width: 11.875rem;
    }
}

.footer__link {
    display: flex;
    gap: 1.875rem;
    justify-content: center;
    margin-bottom: 1.0625rem;
}

@media (min-width: 768px) {
    .footer__link {
        gap: 2.1333vw;
        margin-bottom: 0.1875rem;
        margin-left: 3.4vw;
    }

    .footer__link a {
        white-space: nowrap;
    }
}

.footer__link a {
    font-size: 12px;
    color: #fff;
}

@media (min-width: 768px) {
    .footer__link a {
        font-size: 0.875rem;
    }
}

.footer__copyright {
    color: #fff;
    font-size: 0.6875rem;
}

@media (min-width: 768px) {
    .footer__copyright {
        font-size: 0.75rem;
        white-space: nowrap;
    }
}