@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
body {
    font-family: 'Noto Serif JP', serif;
    font-weight: 400; /* Regular */
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

/* 部品
------------------------------------------ */
.medium-text {
    font-weight: 500; /* Medium */
}

/* スムーススクロールの設定 */
html {
	scroll-behavior: smooth;
}

/* コンテナ */
.container {
    width: 91.7949vw;
    margin: 0 auto;
}

/* 購入する */
.cta {
    /* margin-top: 157px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F4FF;
    padding-top: 20px;
    padding-bottom: 34px;
}

@media (min-width: 768px) {
    .cta {
        /* margin-top: 48px; */
        flex-direction: row;
        justify-content: space-between;
        padding: 2.93vw 3.2vw;
    }

    .cta__actions {
        display: flex;
        align-items: center;
        gap: 2.1333vw;
    }
}

.cta__title {
    text-align: center;
}

.cta__product {
    font-size: 1.125rem;
    font-weight: 600;
    padding-bottom: 5px;
}

@media (min-width: 768px) {
    .cta__product {
        font-size: 24px;
    }
}

.cta__btn--shop {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .cta__btn--shop {
        margin-bottom: 0;
    }
}

.cta__price {
    font-size: 0.875rem;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .cta__price {
        padding-bottom: 0;
        font-size: 16px;
    }
}

/* ボタン */
.cta__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18.75rem;
    height: 3.625rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 1.875rem;
    background-color: #46C4DB;
    color: #fff;
    transition: all .3s;
}

.cta__btn:hover {
    opacity: .6;
}

@media (min-width: 768px) {
    .cta__btn {
        max-width: 300px;
        max-height: 58px;
        width: 28vw;
        height: 5.6vw;
        font-size: 18px;
    }
}

.cta__btn--purchase {
    background-color: #5DD5AB;
}

/* ヘッダー
------------------------------------------ */
.header {
    position: absolute;
    top: 1.5rem;
    width: 8.9375rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

@media (min-width: 768px) {
    .header {
        width: 10.375rem;
        top: 2.1333vw;
    }
}

/* ヒーロー
------------------------------------------ */
.hero__wrap {
	position: relative;
    margin-bottom: 157px;
}

@media (min-width: 768px) {
    .hero__wrap {
        margin-bottom: 48px;
    }
}

.hero__wrap img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.hero__body {
    position: absolute;
    left: 5.8974vw;
    top: 420px;
}

@media (min-width: 768px) {
    .hero__body {
        left: 14.8667vw;
        top: 50%;
        transform: translateY(-50%);
    }
}

.hero__title {
    font-family: 'Marcellus', serif;
    font-weight: 400;
    font-size: 2.5625rem;
    letter-spacing: .3em;
}

.hero__title-line {
    display: block;
}

.hero__text {
    font-size: 1.25rem;
}

/* カバー
------------------------------------------ */
.cover {
    margin-top: 50px;
    position: relative;
}

.cover img {
    width: 100%;
    height: auto;
}

.cover__content {
    position: absolute;
    width: 91.7949vw;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

@media (min-width: 1331px) {
    .cover__content {
        width: 31.1333vw;
        left: 55.2667vw;
        transform: none;
        top: 50%;
        transform: translateY(-50%);
    }
}

.cover__title {
    text-align: center;
}

.cover__main-title {
    display: block;
    font-size: 30px;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}

@media (min-width: 1331px) {
    .cover__main-title {
        font-size: 38px;
    }
}

.cover__sub-title {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

@media (min-width: 1331px) {
    .cover__sub-title {
        font-size: 24px;
    }
}

.cover__text {
    font-size: 14px;
    line-height: 2.2857;
    text-shadow: 0 0.1875rem 0.375rem #00000029;
}

@media (min-width: 1331px) {
    .cover__text {
        font-size: 14px;
    }
}

/* お客様の声
------------------------------------------ */
.voices__title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 36px;
}

@media (min-width: 1331px) {
    .voices__title {
        margin-top: 80px;
        margin-bottom: 40px;
    }
}

.voices__main-title {
    display: block;
    font-size: 30px;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}

.voices__sub-title {
    display: block;
    font-size: 16px;
    font-weight: 600;
}

.voices__carousel {
    position: relative;
    width: 280px;
    height: auto;
    margin: auto;
    text-align: center;
}

@media (min-width: 768px) {
    .voices__carousel {
        max-width: 1156px;
        width: 77.0667vw;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    padding: 28px 15px;
    background-color: #DBF7F9;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .swiper-slide {
        width: 25.9516vw;
    }
}

.voices__name {
    margin-top: 8px;
    margin-bottom: 20px;
}

.voices__text {
    text-align: left;
    font-size: 14px;
    line-height: 2;
}

.my-button-prev,
.my-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
}

@media (min-width: 768px) {
    .my-button-prev,
    .my-button-next {
        font-size: 48px;
    }
}

.my-button-prev {
    left: -39px;
}

@media (min-width: 768px) {
    .my-button-prev {
        left: -7.612vw;
    }
}

.my-button-next {
    right: -39px;
}

@media (min-width: 768px) {
    .my-button-next {
        right: -7.612vw;
    }
}

.swiper-pagination {
    position: absolute;
    margin-bottom: -38px;
}

/* よくあるご質問
------------------------------------------ */
.faq {
    background-image: linear-gradient(90deg, #F4FFE8 0%, #C6F0FE 100%);
    margin-top: 75px;
    margin-bottom: 50px;
}

.faq__title {
    text-align: center;
}

.faq__main-title {
    display: block;
    font-size: 30px;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}

.faq__sub-title {
    display: block;
    font-size: 16px;
    font-weight: 600;
}

.faq__question .bi {
    transition: transform 0.3s ease;
}

.faq__question .bi.rotate {
    transform: rotate(180deg);
}